<h2 ng-init="tmp = ''">Demo two way binding</h2>

<input type="text" ng-model="yourName" placeholder="skriv inn navn">
<h3>Hei {{yourName }}</h3>

<h3>{{tmp}}</h3>
<button type="button" class="btn btn-primary btn-lg" ng-click="tmp = 'Du klikket på meg...!!'">Click me!</button>

